
/* General page layout */
html, h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace
}

/* General styles for images */
.image-container img {
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 1.5em 4em;
}

/* Header section flexbox */
#header {  
    display: flex;
    justify-content: space-between;
}

#logo, #contact {
    width: 20%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 40%;
}

#main-title {
    h1 {
        font-size: 4em;
        text-align: center;
    }

    h2 {
        font-size: 3em;
        text-align: center;
    }
}

#contact {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact {
    ul {
        list-style-type: none;
        padding: 0.2em;
    }

    li {
        padding: 0.4em;
    }

    img {
        width: 1.5em;        
    }
}

.contact-links, .media{
    display: flex;
    align-items: center;
}

#nav-bar {
    margin-top: 2em;
    display: flex;    
}

#nav-bar {
    div {
        width: 10%;
        padding: 0.2em 0.5em;
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
    }

    a {
        padding: 0.2em 0.5em;
        text-align: center;
        text-decoration: none;
        color: black;
        background-color: lightgray;
        border-radius: 10px;
    }
}

#main-section {
    border: 1px solid black;
    background-color: aqua;
}

#main-section {
    margin-top: 2.5em;
    width:100%;
}

#article-info {
    border: 1px solid black;
    background-color: orange;
}

#article-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.article-img img {
    width: 100%;
}

.float {
    float: left;
}

#article-content {
    display: flex;
    flex-direction: row;
}

.icon img {
    width: 5em;
}
